<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.CourseMapper">
    <select id="findCourseBaseById" parameterType="java.lang.String"
            resultType="com.xuecheng.framework.domain.course.CourseBase">
        select * from course_base where id = #{id}
    </select>

    <select id="findByPage"
            resultType="com.xuecheng.framework.domain.course.CourseBase">
        SELECT course_base.*, (SELECT pic FROM course_pic WHERE courseid = course_base.id) pic FROM course_base
    </select>

    <insert id="add" parameterType="com.xuecheng.framework.domain.course.CourseBase">
        INSERT INTO course_base (id,name,mt,grade,studymodel,st)
        VALUES (#{id},#{name},#{mt},#{grade},#{studymodel},#{st})
    </insert>
    <resultMap type="com.xuecheng.framework.domain.course.ext.CategoryNode" id="categoryMap">
        <id property="id" column="one_id"/>
        <result property="name" column="one_name"/>
        <result property="label" column="one_label"/>
        <result property="parentid" column="one_parentid"/>
        <result property="isshow" column="one_isshow"/>
        <result property="orderby" column="one_orderby"/>
        <result property="isleaf" column="one_isleaf"/>
        <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
            <id property="id" column="two_id"/>
            <result property="name" column="two_name"/>
            <result property="label" column="two_label"/>
            <result property="parentid" column="two_parentid"/>
            <result property="isshow" column="two_isshow"/>
            <result property="orderby" column="two_orderby"/>
            <result property="isleaf" column="two_isleaf"/>

            <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
                <id property="id" column="three_id"/>
                <result property="name" column="three_name"/>
                <result property="label" column="threelabel"/>
                <result property="parentid" column="three_parentid"/>
                <result property="isshow" column="three_isshow"/>
                <result property="orderby" column="three_orderby"/>
                <result property="isleaf" column="three_isleaf"/>
            </collection>
        </collection>
    </resultMap>
    <select id="findList"  resultMap="categoryMap" >
       SELECT
            a.id one_id,
            a.name one_name,
            a.label one_label,
            a.parentid one_parentid,
            a.isshow one_isshow,
            a.orderby one_orderby,
            a.isleaf one_isleaf,
            b.id two_id,
            b.name two_name,
            b.label two_label,
            b.parentid two_parentid,
            b.isshow two_isshow,
            b.orderby two_orderby,
            b.isleaf two_isleaf,
            c.id three_id,
            c.name three_name,
            c.label three_label,
            c.parentid three_parentid,
            c.isshow three_isshow,
            c.orderby three_orderby,
            c.isleaf three_isleaf
            FROM
            category a
            LEFT JOIN category b
            ON a.id=b.parentid
            LEFT JOIN category c
            ON b.id=c.parentid
    </select>

</mapper>